.btn-option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border: none;
    padding: 1rem;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    background-color: rgb(184, 55, 0);
    color: orange;
    font-size: 1rem;
    transition: 0.2s ease-in-out;

    &.selected {
        background-color: rgb(115, 39, 39);
    }
    
    &:hover {
       transform: translateY(-15px);
    }

    svg {
        fill: orange;
    }

 
}

