.rock-paper-scissors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 95vh;

  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 2.75rem;
      color: var(--primary-rps);
    }
  }

  .game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    gap: 25px;

    section {
      border: 1px solid var(--primary-rps);
      border-radius: 5px;
    }
  }

  @media screen and (max-width: 720px) {
    justify-content: flex-start;
    .title-container {
      h1 {
        padding-top: 30px;
        padding-bottom: 10px;
      }
    }

    .game-container {
      height: 300px;
    }
  }
  @media screen and (max-width: 450px) {
    .title-container {
      h1 {
        font-size: 2.2rem;
      }
    }
  }
  @media screen and (max-width: 360px) {
    .title-container {
      h1 {
        font-size: 2rem;
        padding-bottom: 0;
      }
    }

    .game-container {
      height: 270px;
    }
  }
  @media screen and (max-width: 280px) {
    .game-container {
      height: 200px;
    }
  }
}

#rock-icon {
  transform: rotate(90deg);
}
#rock-icon-mirror {
  transform: scaleY(-1) rotate(-90deg);
}
