.rock-paper-scissors {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    height: 200px;

    section {
      border: 1px solid var(--primary-rps);
      border-radius: 5px;
    }
  }

  .btns-container {
  }
}

#rock-icon {
  transform: rotate(90deg);
}
#rock-icon-mirror {
  transform: scaleY(-1) rotate(-90deg);
}
