* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Papyrus;
}

body {
  background-color: orange;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

button:hover {
  cursor: pointer;
  transition: 0.4s;
}