@font-face {
  /* source: https://www.cufonfonts.com/font/handlee */
  font-family: "Handlee";
  src: url("./assets/fonts/handlee-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

:root {
  /* colours */
  --yellow-light: rgb(255, 245, 134);
  --bisque: bisque;
  --bg-rps: orange;
  --primary-rps: rgb(184, 55, 0);
  --primary-accent-rps: rgb(115, 39, 39);

  /* fonts */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handlee", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: orange;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}
